/* Container principal */
.container {
    padding: 2rem;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
    
  }
  
  /* Tema claro */
  .light {
    background-color: #f8f9fa;
    color: #212529;
  }
  
  /* Tema escuro */
  .dark {
    background-color: #212529;
    color: #f8f9fa;
  }
  

  
  /* Navegação */
  .nav {
    margin: 1.5rem;
  }
  
 
  
  /* Estilo dos links */
  .navLink {
    text-decoration: none;
    color: #007bff; /* Azul padrão */
    padding: 0.5rem 1rem; /* Espaçamento interno */
    transition: color 0.3s, background-color 0.3s ease; /* Suaviza transições */
    border-radius: 5px;
    display: flex;
    
    justify-content: center; /* Centraliza os links */
  }
  
  /* Hover nos links */
  .navLink:hover {
    background-color: #e9ecef; /* Fundo claro ao passar o mouse */
    color: #0056b3; /* Azul mais escuro */
  }
  
  /* Link ativo */
  .active {
    font-weight: bold;
    color: #fff;
    background-color: #007bff; /* Fundo azul para o link ativo */
    border-radius: 5px; /* Bordas arredondadas */
  }
  
  /* Conteúdo renderizado pelas rotas aninhadas */
  .content {
 
    border: 1px solid #ddd;
    border-radius: 5px;
   
    
  }
  /* Estilo do título */
.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
  transition: color 0.3s ease; /* Transição suave para a cor */
}

/* Tema claro */
.light .title {
  color: #212529; /* Cor do título no tema claro */
}

/* Tema escuro */
.dark .title {
  color: #f8f9fa; /* Cor do título no tema escuro */
}

  