/* Container principal da navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  padding: 1rem 2rem;
  color: #fff;
}

/* Estilo do título/logo */
.navbarBrand {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

/* Container dos links */
.navLinks {
  display: flex;
  gap: 1.5rem;
 
}

/* Estilo dos links */
.navLink {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #ffdd57; /* Cor amarela no hover */
}

/* Link ativo */
.active {
  font-weight: bold;
  color: #ffdd57; /* Destaque para o link ativo */
}
